apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: linkding
  namespace: argocd
spec:
  destination:
    namespace: linkding
    server: https://kubernetes.default.svc
  project: default
  sources:
    - chart: linkding
      repoURL: https://charts.pascaliske.dev
      targetRevision: 2.2.0

    - repoURL: git@github.com:soeguet/homelab.git
      targetRevision: HEAD
      path: apps/linkding/base
